@import "./scss/button";
@import "./scss/variables";
.home-page {
  min-height: calc(100vh - 10rem);
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    .logo {
      width: 10rem;
      opacity: 0.5;
    }
    h1 {
      margin-top: 0;
    }
    hr {
      width: 100%;
      margin: 1rem 0;
      margin-bottom: 2rem;
      border: none;
      border-top: 1px solid #ddd;
    }
    .btn-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
