$primary-color: #29314a;
$secondary-color: #b2e3ff;

$white-color: white;
$red-color: #ffb2b2;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;

$error-color: #ff6464;
