@import "./../../scss/button";
@import "./../../scss/variables";

.admin-profile-page {
  min-height: calc(100vh - 10rem);
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    .profile {
      display: flex;
      gap: 1rem;
      width: 100%;
      .avatar {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        border-radius: 5px;
        background: $gray-400;
      }
      .info {
        flex-grow: 1;
        padding: 0.4rem;
        .name {
          padding-bottom: 0.2rem;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .student-id {
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }
    .alumni-list {
      width: 100%;
      list-style: none;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0.8rem;
        border-radius: 5px;
        background: $gray-100;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          background: $gray-300;
        }
        .status {
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
          // transform: scale(1);
          // transition: 0.3s ease-in-out;
          // &:hover {
          //   transform: scale(1.7);
          // }
        }
        .green {
          background: $green-color;
        }
        .red {
          background: $red-color;
        }
      }
    }
    hr {
      width: 100%;
      margin: 1rem 0;
      margin-bottom: 2rem;
      border: none;
      border-top: 1px solid #ddd;
    }
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  padding: 5px 1rem;
  border-radius: 4px;
  transform: translate(-45%, -2.8rem);

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  opacity: 0.8;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $primary-color transparent transparent transparent;
}
